//theme color
$tap_theme_color: #15c5ce;

//component background color
$tap_component_background_color: #23252f;

//component border color
$tap_component_border_color: rgba(255, 255, 255, 0.08);

//page backgorund color
$tap_page_background_color: #16161b;

//breadcrumb
$breadcrumb_default_color: rgba(255, 255, 255, 0.6);
$breadcrumb_active_color: #ffffff;

//nav header
$nav_header_background_color: #292b35;

//backtop
$backtop_background_color: $tap_component_background_color;

//game item
$gameitem_background_color: $tap_component_background_color;
$gameitem_title_color: #fff;
$gameitem_area_text_color: rgba(255, 255, 255, 0.6);
$gameitem_area__border_color: rgba(255, 255, 255, 0.4);
$gameitem_intro_color: rgba(255, 255, 255, 0.85);
$gameitem_avatar_empty_color: rgba(255, 255, 255, 0.85);

//game like
$gamelike_color: rgba(255, 255, 255, 0.6);

//game trend
$gametrend_background_color: $tap_component_background_color;
$gametrend_title_color: #ffffff;

//game rates
$gamerates_background_color: $tap_component_background_color;
$gamerates_text_color: rgba(255, 255, 255, 0.85);
$gamerates_border_color: rgba(255, 255, 255, 0.08);

//game intro
$gameintro_background_color: $tap_component_background_color;
$gameintro_title_color: #fff;
$gameintro_text_color: rgba(255, 255, 255, 0.85);

//game hots
$gamehots_background_color: $tap_component_background_color;
$gamehots_title_color: #fff;
$gamehots_border_color: rgba(255, 255, 255, 0.08);

//booster download
$booster_download_background_color: $tap_component_background_color;
$booster_download_text_color: #fff;
$bootser_download_desc_color: rgba(255, 255, 255, 0.6);

//footer info
$footer_info_color: rgba(255, 255, 255, 0.6);

//nav footer
$nav_footer_background_color: $tap_component_background_color;

//not found
$not_found_text_color: rgba(255, 255, 255, 0.6);

//strategry item
$strategry_item_background_color: $tap_component_background_color;
$strategry_item_desc_color: #fff;
$strategry_item_date_color: rgba(255, 255, 255, 0.6);
