// 主题色

$theme-color: rgb(165 88 200);

// 按钮
$button-background: #fff;


// border
$border-color: rgba(165,88,200,0.2);


// 字体颜色
$title-font-color: #58595a;
$subtitle-font-color: #58595a;
$content-font-color: #58595a;

$link-color: #58595a;
$link-hover-color: #58595a;

// card
