@import './reset';
@import './vars';

body,
#root {
  // 全局字体
  font-family: -apple-system, PingFang SC, Hiragino Sans GB, Arial,
    Microsoft YaHei, Helvetica Neue, sans-serif;
}

// theme ===================
a {
  color: rgba($color: $link-color, $alpha: 0.85);
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: $link-hover-color;
  font-weight: bold;
}

@import 'waffle-grid-layout';

//清除图片加载失败时会有默认黑色边框
img[src=''],
img:not([src]) {
  opacity: 0;
}
